[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[pipenv]
allow_prereleases = true

[packages]
"discord.py" = "*"
pygraphviz = "*"
networkx = "*"
matplotlib = "*"

[dev-packages]
black = "*"
flake8 = "*"
autopep8 = "*"
isort = {extras = ["pyproject"], version = "*"}

[requires]
python_version = "3.8"

[scripts]
start = "python src/bot.py"
